<div class="d-flex align-items-center justify-content-center">
    <h1>Let us look at some data</h1>
    
</div>
<div class="d-flex align-items-center justify-content-center">
<h2>The total age of everyone is <%= @total_ages %></h2>
</div>
<div class="container">
<div class="row justify-content-around gap-3">
<% @everyone.each do |thing| %>

    <div id="<%= thing.id %>" class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title"><%= thing.name.upcase %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= thing.position.capitalize %></h6>
    <p class="card-text">They are <%= thing.age%> years old </p>
    <div class="row">
      <div class="col">
        <%= link_to "Edit", family_edit_path(id: thing.id), method: :edit, class: "btn btn-outline-primary btn-sm" %>
      </div>
      <div class="col">
        <%= button_to "Delete", family_path(id: thing.id), method: :delete, class: "btn btn-outline-danger btn-sm" %>
      </div>
    </div>
     
  </div>
</div>
<% end %>
</div>
</div>